* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: white;
    --poster-base: calc(max(calc(8vw), calc(8em)));
    --accent-color: white;
}
::placeholder {
    color: var(--accent-color);
}
:focus {
    outline: none;
}

h1, h2 {
    padding: .75rem 1.75rem;
    min-width: max-content;
    align-self:flex-end;
    padding-bottom: 0.1rem;
}
h1 {
    font-size: 2em;
    padding-right: 0.5em;
}
h2 {
    font-size: 1.25em;
    padding-bottom: .5rem;
    padding-left: 0.2em;
    color: var(--accent-color);
}

header {
    background-color: rgb(70, 70, 70);
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    padding-bottom: .5em;
}
header > form {
    margin-left: auto;
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 35em;
    margin-right: 0.5em;
}
#search-box {
    padding: 0.5em 0.75em;
    margin: 0 0.5em;
    flex: 20;
    background-color: black;
    color: white;
}
.icon-btn {
    margin: 0;
    margin-right: .25em;
    font-size: 1.5em;
    opacity: 1;
    padding: 0;
    padding: .15em .25em;
    margin-bottom: 0;
    flex: 0;
    border-radius: 0.25em;
}

body {
    min-height: 100vh;
    display: flex;
	flex-direction: column;
    background-color: rgb(54, 54, 54);
}

main, footer {
    display: flex;
}
main { flex: 1}
footer { 
    background-color: inherit;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    padding: 10px;
}

.flex-row > .movie {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: max-content;
    padding: 1em
}
.trailer {
    margin: 0.5em 0 0 0;
}
.movie > h4, .movie > span {
    width: var(--poster-base);
    margin: 0.15em;
}
.poster {
    
    width: calc(var(--poster-base));
    border: 2px solid white;
}

.backdrop {
    --max-base : calc(min(calc(75vh), calc(3in)));
    --min-base : 100px;
    --base : 25vw;
    --high: calc(9/5);
    --wide: calc(16/5);

    height: calc(var(--base)*var(--high));
    width: calc(var(--base)*var(--wide));

    max-height: calc(var(--max-base)*var(--high));
    max-width: calc(var(--max-base)*var(--wide));

    min-height: calc(var(--min-base)*var(--high));
    min-width: calc(var(--min-base)*var(--wide));
    overflow: scroll;
    margin: 0.5em 0;
    
}
#movie-detail > p, #movie-detail > h5, #movie-detail > h3 {
    color: black;
    padding: 0.25em 0;
}
#movie-detail > h3 {
    font-size: 1.25em;
}


main > .filler {
    flex: 1;
}
button {
    border: white solid 2px;
    padding: 1rem 2rem;
    background: black;
    color: white;
    cursor: pointer;
    width: max-content;
    margin: 0.5rem 0 ;
    border-radius: 0.5rem;
}

button:hover, .flex-row > .movie:hover {
    transform: scale(1.1);
}


button:hover {
    transform: scale(0.9);
    background-color: rgb(70, 70, 70);
}


.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    /* transition: all 0.5s ease; */
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
}
.modal.open {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.shade {
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    opacity: .75;
    padding: 30px;
}
.modal-canvas {
    width: min-content;
    opacity: 1;
    background: #fff;
    border-radius: 1em;
    position: absolute;
    padding: 1em;
    color: black;
    display: flex;
    flex-direction: column;
    max-height: 75vh;
    overflow-y: scroll;

}
.modal-canvas > #movie-detail {
    display: flex;
    flex-direction: column;
    align-content: center;
}
.modal-close {
      position: absolute;
      right: 15px;
      top: 15px;
      outline: none;
      appearance: none;
      color: red;
      background: none;
      border: 0px;
      font-weight: bold;
      cursor: pointer;
}

#modal-bar {
    display: flex;
    justify-content: flex-end;
}

  @media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;
    }
  }

  #attribution {
      width: 270px;
      margin-top: 1em;
      margin-bottom: 1em;
  }
  #footer-col {
      display: flex;
      flex-direction: column;
      align-items: center;
  }